<%- include('partials/header.ejs') %>
<div class = "container-fluid bg-dark  align-items-center blk">
<div class = "container">
    <%if(locals.books){ %>
        <h2 class = "txt">Books</h2>
        <p>Tiny summary but detailed notes for each. Use the ISBN number to find it from your local library or anywhere else. This page will constantly update as I read more, so bookmark it if you want to check back in a few months.</p>
        <p>Sorted with my top recommendations up top. Sort by 
        <a href="/?sortby=title" class = "sub" onclick="this.style.color='blue';">title</a>,
        <a href="/?sortby=date"class = "sub"onclick="this.style.color='blue';">newest</a>,
        <a href="/?sortby=rating"class = "sub"onclick="this.style.color='blue';">best</a>
    </p>
        <ul>
            <% for (let book of locals.books) { %>
                <div class="row align-items-center g-5">
          
                    <!-- Image column (left) -->
                    <div class="col-md-4 text-center">
                      <img src="<%= book.cover_url %>" class="img-fluid" alt="<%= book.title %> Cover" width="150" height="200" loading="lazy">
                    </div>
              
                    <!-- Text content column (right) -->
                    <div class="col-md-8">
                      <!-- <a href="/books/<%= book.id %> "> -->
                        <h1 class="display-6 fw-bold  mb-3 sub">
                          <%= book.title %>
                        </h1>
                      <!-- </a> -->
                      
                      <p class = "grey">Rating: <%= book.rating %>/5</p>
                      <p class = "grey">ISBN: <%= book.isbn %></p>
                      <p class = "grey">Added on: <%= book.created_at.toDateString ? book.created_at.toDateString() : book.created_at %></p>
                    </div>
                    <div>
                        <p class="lead"><%= book.notes %></p>
                    </div>
                
                
                
               <% } %>
        </ul>
    <% } else { %>
        <p>No books available.</p>
    <% } %>
    
    <form action = "/new" method="POST">
        <div >
            <label for="title" class="form-label">Book Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div>
            <label for="isbn" class="form-label">ISBN</label>
            <input type="text" class="form-control" id="isbn" name="isbn" required>
        </div>
        <div>
            <label for="notes" class="form-label txt">Notes</label>
            <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
        </div>
        <div>
            <label for="rating" class="form-label txt">Rating</label>
            <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
        </div>
        <button type="submit" class="btn btn-primary txt">Add Book</button>
    </form>
</div>
</div>
<%- include('partials/footer.ejs') %>